@model UBox.ViewModels.ProfileViewModel
@{ 
    ViewBag.Title = "Мій профіль";
}


<link href="~/css/MyProfileStyle.css" rel="stylesheet" type="text/css" />

<div class="head_of_profile">
    <img />


    <div class="head_of_profile_nav_bar">

        <div class="head_of_profile_nav_bar_buttom">
            <p>&#9776</p>
        </div>

        <div class="head_of_profile_nav_bar_content">
            <ul>
                <li>
                    <a class="link" asp-action="Logout" asp-controller="User">Вихід</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="link" asp-action="Logout" asp-controller="User">Налаштування</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="link" asp-action="Logout" asp-controller="User">Монетизація</a>
                </li>
            </ul>
        </div>

    </div>



</div>
<div class="line"></div>

<div class="my_profile_content">


    <div class="my_profile_content_info">
        <div class="my_profile_content_info_myIcon">
            <div class="my_profile_content_info_myIcon_avatar">
                <img src="@Model.imageAvatar"/>
            </div>
            <div class="my_profile_content_info_myIcon_name">
                <p>@Model.user.UserName</p>
            </div>
        </div>
        <div class="my_profile_content_info_myStats">

        </div>

    </div>


    <div class="my_profile_content_posts">


    </div>




</div>





<p>@Model.user.Email</p>